<section id="cards">
  <h2 class="title">Team</h2>

  <div class="content constrainf">


    <div class="team">

        <div class="avatar">
            <img src="././assets/images/avatar1.png" width="200px" style="margin-top: 45px;" alt="">
        </div>

        <div class="info">
            <h2>Malik Korrich</h2>
             <p>Senior Developer & Co-Founder</p>
        </div>

    </div>

    <div class="team">

      <div class="avatar">
          <img src="././assets/images/avatar2.png" width="200px" alt="">
      </div>

      <div class="info">
          <h2>Scott Farquhar</h2>
           <p>Co-Founder & Co-Ceo</p>
      </div>

  </div>

 

  <div class="team">

    <div class="avatar">
        <img src="././assets/images/avatar3.png" width="200px" alt="">
    </div>

    <div class="info">
        <h2>Erika Fisher</h2>
         <p>Chief Administrative</p>
    </div>

</div>
    

<div class="team">

  <div class="avatar">
      <img src="././assets/images/avatar4.png" width="200px" alt="">
  </div>

  <div class="info">
      <h2>Sri Viswanath</h2>
      <p>Co-Founder & Co-Ceo</p>
  </div>

</div>


  </div>
</section>
