<section id="cards">
  <h2 class="title">About us</h2>

  <div class="content constrainf">

    <div class="banner">
        <img src="././assets/images/about.jpg" alt="404">  
    </div>
    <div class="def">
        <p>
            <b>Dz coders Community</b> is A multiplatform application development company from Algeria was established in 2015. This top web development firm offers specialized development services in Java (spring boot), Android, and Javascript (React, Angular, Vue).
        </p>

        <p>
            simple goal, they amaze clients by delivering high-quality digital products that solve their business needs and ensuring the projects run smoothly, strategically and predictably.
        </p>

        <p>
            <b>Our goal</b> is to provide you with the best and happiest products around.
           </p>
    </div>

  </div>
</section>
