<section id="features">
    <h2 class="title">Amazing Features</h2>

    <div class="content constrain">
        <div class="card">
            <div class="icon">
            <img src="assets/images/paint.svg" alt="">
            </div>
                <h3>Creative Design</h3>
                <p>Unique and personalized web designs, adapted to the needs and tastes of our customers in order to offer you the most suitable design for your business.</p>
           
        </div>

        <div class="card">
            <div class="icon">
                <img src="assets/images/check.png" alt="">
            </div>
            
                <h3>Realization & Testing</h3>
                <p>After validating the design with our team of experts, we move on to the realization with continuous tests to ensure you the best user experience.</p>
            
        </div>

        <div class="card">
            <div class="icon">
                <img src="assets/images/security.png" alt="">
            </div>
            
                <h3>Security</h3>
                <p>DzCoder helps you secure your web and mobile applications. We attach great importance to the security of your information. Your data is effectively protected.</p>
           
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/images/money.png" alt="">
            </div>
            
                <h3>Save Money</h3>
                <p>Your company's web and mobile applications are more than just a virtual representation of your organization. It is also a great way for your business to save tons of money.</p>
           
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/images/cloud.svg" alt="">
            </div>
            
                <h3>Technology</h3>
                <p>We use all new technologies to protect all your privacy and be professional.</p>
           
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/images/support.png" alt="">
            </div>
            
                <h3>Support</h3>
                <p>Technical support is available 24/24 to solve your problems or for inquire about anything.</p>
           
        </div>

        
    </div>
</section>


<section id="cards">
    <h2 class="title">Our Technology And Materials We Use</h2>

    <div class="content constrainf">
        <div class="feature">
            <div class="icon">
            <img src="assets/images/java.png" alt="">
            </div>
           <h3>Java</h3>
        </div>

        <div class="feature">
            <div class="icon">
                <img src="assets/images/js.png" alt="">
            </div>
            <h3>JavaScript</h3>
        </div>

        <div class="feature">
            <div class="icon">
                <img src="assets/images/androide.png" alt="">
            </div>
            <h3>Android</h3>
        </div>

        <div class="feature">
            <div class="icon">
                <img src="assets/images/angular.svg" alt="">
            </div>
            <h3>Angular</h3>
        </div>

        <div class="feature">
            <div class="icon">
                <img src="assets/images/bootstrap.png" alt="">
            </div>
            <h3>Bootsrap</h3>
        </div>
        <div class="feature">
            <div class="icon">
                <img src="assets/images/firebase.png" alt="">
            </div>
            <h3>Firebase</h3>
        </div>
        <div class="feature">
            <div class="icon">
                <img src="assets/images/springboot.png" alt="">
            </div>
            <h3>Spring Boot</h3>
        </div>
        <div class="feature">
            <div class="icon">
                <img src="assets/images/c.png" alt="">
            </div>
            <h3>C Sharp</h3>
        </div>
    </div>
</section>



 