
<div class="dash-content">
  <div class="activity">

    <div class="title">
      <!-- <i class="uil uil-clock-three"></i>-->
      <span class="text">New Project</span>
  </div>


    <div class="card">
      <div class="card-header">
        <h3>Request new project</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" id="name" name="name" placeholder="Enter a title" required>
          </div>
          <div class="form-group">
            <label for="email">Type:</label>
            <select name="projects" id="projects">
              <option value="web">Web application</option>
              <option value="desktop">Desktop application</option>
              <option value="mobile">Mobile application</option>
              <option value="cross">Cross platform application</option>
            </select>
          </div>
          <div class="form-group">
            <label for="phone">Budget:</label>
            <select name="budget" id="budget">
              <option value="small">1000-2000$</option>
              <option value="medium">2000-3000$</option>
              <option value="large">3000-4000$</option>
              <option value="large">4000-5000$</option>
            </select>
          </div>
          <div class="form-group">
            <label for="address">Dirección:</label>
            <textarea id="address" name="address" placeholder="Enter a description"></textarea>
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

 

 