<div class="dash-content">
    <div class="activity">
  
      <div class="title">
        <!-- <i class="uil uil-clock-three"></i>-->
        <span class="text">Settings</span>
    </div>


    <div class="card">
        <div class="card-header">
          <h3>Account Details</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Full name:</label>
              <input type="text" id="name" name="name" placeholder="Malik Korrich" required>
            </div>
            <div class="form-group">
                <label for="name">User name:</label>
                <input type="text" id="name" name="name" placeholder="Malikd4" required>
              </div>
              <div class="form-group">
                <label for="name">Email:</label>
                <input type="text" id="name" name="name" placeholder="malik.korrich@gmail.com" required>
              </div>
              <div class="form-group">
                <label for="name">Password:</label>
                <input type="text" id="name" name="name" placeholder="********" required>
              </div>
              <div class="form-group">
                <label for="file-input">
                  <i class="fas fa-cloud-upload-alt"></i>
                  Select profile photo
                </label>
                <input type="file" id="file-input" name="file-input">
              </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
</div>
</div>  