<div class="dash-content">
  <div class="activity">

    <div class="title">
      <!-- <i class="uil uil-clock-three"></i>-->
      <span class="text">Recent Project</span>
  </div>

  <div class="activity-data">
      <div class="data names">
          <span class="data-title">Title</span>
          <span class="data-list">Store application</span>
          <span class="data-list">TPUV application</span>
          <span class="data-list">Chat application</span>
      </div>
      <div class="data email">
          <span class="data-title">Type</span>
          <span class="data-list">Web application</span>
          <span class="data-list">Desktop application</span>
          <span class="data-list">Mobile application</span>

      </div>
      <div class="data joined">
          <span class="data-title">Joined</span>
          <span class="data-list">2021-02-12</span>
          <span class="data-list">2022-08-09</span>
          <span class="data-list">2023-02-12</span>
      </div>
      <div class="data type">
          <span class="data-title">Budget</span>
          <span class="data-list">1500$</span>
          <span class="data-list">2000$</span>
          <span class="data-list">1800$</span>
      </div>
      <div class="data status">
          <span class="data-title">Status</span>
          <span class="data-list open">Open</span>
          <span class="data-list in-progress">In progress</span>
          <span class="data-list dead">Cancelled</span>
      </div>
  </div>
  </div>
</div>
 